.mat-toolbar {
    height: 5vh;
    background-color: #FF7200;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 115, 0, 0.1);
    > .logo {
        height: 45px;
    }
    > span {
        color: #f9f9f9;
    }
    > .mat-button {
        &:hover {
           background: rgba(255, 115, 0, 0.2); 
        }
        color: #f9f9f9;
        font-size: 16px;
        border: 1px solid #f9f9f9;
    }
}

.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #FF7200;
}