<mat-toolbar>
    <img class="logo" src="../../../assets/images/itau.png">
    <span>Meus gastos</span>    
</mat-toolbar>

<nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
    
       {{ link.label }}

    </a>
</nav>
  
<div [@routerAnimation]="getRouteAnimation(router)">
    <router-outlet #router="outlet"></router-outlet>
</div>
