<section>
    <div>
      <mat-list>
        <mat-list-item *ngFor="let expense of generalExpenses">
          <strong matLine>{{ expense.valor | currency:'BRL' }}</strong>
          <p matLine>{{ expense.origem }}</p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>   
</section>