@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~normalize.css';

section {
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}   

section>div {
    width: 89%;
    height: 75vh;
    overflow: auto;
}

.mat-tab-links {
    justify-content: center;
}