<section>
    <div>
        <mat-list>
            <mat-list-item *ngFor="let expense of categoryExpenses">
              <strong matLine>{{ expense.totalValue | currency:'BRL'  }}</strong>
              <p matLine>{{  convertCategoryNumber(expense.category) }}</p>
              <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
</section>